<nav class="navbar navbar-expand-md navbar-dark bg-dark">    
    <a class="navbar-brand" routerLink="/">Mum's<br>Ebay Auction{{ envName }}</a>
    
    <button 
        class="navbar-toggler navbar-toggler-right"
        type="button" (click)="toggleCollapse()">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div [ngbCollapse]="showMainNav" class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" >
                <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/active" routerLinkActive="active">Active<br>Auctions</button>
            </li>
            <li class="nav-item" >
                <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/sold" routerLinkActive="active">Sold<br>Auctions</button>
            </li>
            <li class="nav-item" >
                <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/ebayFees" routerLinkActive="active">Ebay<br>Fees</button>
            </li>
            <li class="nav-item" >
                <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/paypalFees" routerLinkActive="active">PayPal<br>Fees</button>
            </li>
        </ul>        
    </div>
</nav>