<table class="table">
    <thead>
        <tr>
            <th scope="col">ebayAuctionNo</th>
            <th scope="col">description</th>
            <th scope="col">buyerUserName</th>
            <th scope="col">buyerName</th>
            <th scope="col">finalValueFee</th>
            <th scope="col">postageFee</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of EbayFeeList; let i = index" 
        [ngClass]="{'uploaded': entry.uploaded,
                    'warn': i == placeInArray.value, 
                    'error': entry.error}">
            <td>{{ entry.ebayAuctionNo }}</td>
            <td>{{ entry.description }}</td>
            <td>{{ entry.buyerUserName }}</td>
            <td>{{ entry.buyerName }}</td>
            <td>{{ entry.finalValueFee | displayPounds }}</td>
            <td>{{ entry.postageFee | displayPounds }}</td>
        </tr>
    </tbody>
</table>
<hr>
<h4>Enter Ebay Auction Fees</h4>
<form [formGroup]='FeeForm'>
    <!-- ebayAuctionNo -->
    <div class="form-group row">
        <label for="ebayAuctionNo" class="col-sm-3 col-form-label">Ebay Auction Number</label>
        <div class="col-sm-9">
            <input [class.is-invalid]='(ebayAuctionNo.invalid || !ebayAuctionValid) && ebayAuctionNo.touched'
                [class.is-valid]='ebayAuctionNo.valid && ebayAuctionValid && ebayAuctionNo.touched'
            formControlName='ebayAuctionNo' type="text" class="form-control" id="ebayAuctionNo"
            placeholder="Ebay Auction Number" (blur)='findEbayAuction()'>
            <!-- Messages -->
          <ul *ngIf='(ebayAuctionNo.invalid || !ebayAuctionValid) && ebayAuctionNo.touched '>
            <li *ngIf='ebayAuctionNo.errors?.required' class='text-danger'>Ebay Auction Number Is Required</li>
            <li *ngIf='!ebayAuctionValid' class='text-danger'>{{ ebayAuctionError }}</li>
          </ul>
        </div>
    </div>
    <div *ngIf='ebayAuctionNo.valid && ebayAuctionValid && ebayAuctionNo.touched'>
        <!-- description -->
        <div class="form-group row">
            <label for="description" class="col-sm-3 col-form-label">Item Description</label>
            <div class="col-sm-9">
                <p class="form-control is-valid" id="description">{{ description.value }}</p>
            </div>
        </div>
        <!-- buyerName -->
        <div class="form-group row">
            <label for="buyerName" class="col-sm-3 col-form-label">Buyer's Name</label>
            <div class="col-sm-9">
                <p class="form-control is-valid" id="buyerName">{{ buyerName.value }}</p>
            </div>
        </div>
        <!-- buyerUserName -->
        <div class="form-group row">
            <label for="buyerUserName" class="col-sm-3 col-form-label">Buyer's User Name</label>
            <div class="col-sm-9">
                <p class="form-control is-valid" id="buyerUserName">{{ buyerUserName.value }}</p>
            </div>
        </div>
    </div>    
    <!-- finalValueFee -->
    <div class="form-group row">
        <label for="finalValueFee" class="col-sm-3 col-form-label">Ebay Final Value Fee</label>
        <div class="col-sm-9">
            <input formControlName='finalValueFee' type="number" class="form-control" id="finalValueFee"
            placeholder="Ebay Final Value Fee">
        </div>
    </div>
    <!-- postageFee -->
    <div class="form-group row">
        <label for="postageFee" class="col-sm-3 col-form-label">Ebay Postage Fee</label>
        <div class="col-sm-9">
            <input formControlName='postageFee' type="number" class="form-control" id="postageFee"
            placeholder="Ebay Postage Fee">
        </div>
    </div>
</form>
<div *ngIf='!successMsg && !errorMsg'>
    <button type="button" class="btn btn-outline-dark" [disabled]='processing || !(ebayAuctionValid && ebayAuctionNo.touched)' (click)="submit(FeeForm.value)">Update</button>
    <button type="button" class="btn btn-outline-dark" [disabled]='processing'>Cancel</button>
    <button type="button" class="btn btn-outline-dark" *ngIf='EbayFeeList.length>0 && !uploadComplete' [disabled]='processing || EbayFeeList.length == 0' (click)="update()">Save All Fees</button>
    <button type='button' class='btn btn-outline-danger' *ngIf='uploadComplete' [disabled]='processing || EbayFeeList.length == 0'  (click)="complete()">Completed</button>  
</div>
  <div class='messages'> <!-- messages -->
      <div class="alert alert-success" role="alert" *ngIf='successMsg'>{{ successMsg }}</div>
      <div class="alert alert-danger" role="alert" *ngIf='errorMsg'>{{ errorMsg }}</div>
  </div>
